<!-- The list of messages will appear here: -->
<ul id='msg-list'>
</ul>

<style>
  #msg-list > li { display: inline-block; width: 100%;}
</style>

<div class="row">
  <div class="column column-20">
    <input type="text" id="name" class="form-control" placeholder="Your Name" autofocus>
  </div>
  <div class="column column-80">
    <input type="text" id="msg" class="form-control" placeholder="Your Message">
  </div>
</div>
