<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Phoenix Chat", suffix: " · Tutorial!" %>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header class="bg-slate-800 w-full h-[5rem] top-0 fixed flex flex-col justify-center z-10">
      <nav class="flex flex-row justify-between items-center">
          <h1 class="text-lg text-center font-mono text-white ml-6 sm:text-3xl">
            Phoenix Chat Example
          </h1>
          <div class="float-right mr-3">
            <%= if @loggedin do %>
              <div class="flex flex-row justify-center items-center">
                <img width="42px" src={@person.picture} />
                <%= link "logout", to: "/logout", class: "bg-red-600 text-white rounded-xl px-4 py-2 ml-4" %>
              </div>
            <% else %>
              <div class="bg-green-600 text-white rounded-xl px-4 py-2 w-full font-bold">
                <%= link "Login", to: "/login" %>
              </div>
            <% end %>
          </div>
      </nav>
    </header>
    <main class="mt-[7rem]">
        <%= @inner_content %>
    </main>
  </body>
</html>
